{% extends 'base.html' %} {% block head %}
<title>Broken Access</title>
{% endblock %} {% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/intro.css" />
<br />
<div class="content">
    <br />
    <h3><b>Broken Access Control</b></h3>
    <div class="box">
        <h4><b>What is Broken Access Control</b></h4>
        <p class="bp"> Access control, sometimes called authorization, is how a web application grants access to content
            and functions to some users and not others. These checks are performed after authentication, and govern what
            ‘authorized’ users are allowed to do. A web application’s access control model is closely tied to the
            content and functions that the site provides. In addition, the users may fall into a number of groups or
            roles with different abilities or privileges.
        </p>
        <a class="btn btn-xxe" type="button" href="/broken_access">View
            Demo</a>
        <br />
        <br />
        <h4><b>Mitigation</b></h4>
        <p class="bp">
            <ul>
                <li>Using proper Session management techniques</li>
                <li>Using Tokens such as JWT to authorize the users.</li>
                <li>Unless a resource is intended to be publicly accessible, deny access by default</li>
                <li>Thoroughly audit and test access controls to ensure they are working as designed</li>
            </ul>
        </p>
        <span class="float-right"><a
                href="https://owasp.org/www-project-top-ten/2017/A5_2017-Broken_Access_Control">OWASP</a></span>
    </div>
</div>

{% endblock %}