{% extends 'base.html' %} {% block head %}
<title>Sensitive Data Exposure</title>
{% endblock %} {% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/intro.css" />
<br />
<div class="content">
  <br />
  <h3><b>Sensitive Data Exposure</b></h3>
  <div class="box">
    <h4><b>What is Sensitive Data Exposure</b></h4>
    <p class="bp">
      Information disclosure, also known as information leakage, is when a website unintentionally reveals sensitive
      information to its users. Depending on the context, websites may leak all kinds of information to a potential
      attacker, including:
      <ul>
        <li>Data about other users, such as usernames or financial information</li>
        <li>Sensitive commercial or business data</li>
        <li>Technical details about the website and its infrastructure</li>
      </ul>
    </p>
    <a class="btn btn-xxe" type="button" href="/sensitive_data">View Demo</a>
    <br />
    <br />
    <h4><b>Mitigation</b></h4>
    <p class="bp">Even though you will never be using DEBUG=True, you need extra care when naming the configurations in
      the settings.py module. Make sure all sensitive variables use one of the keywords:
      <ul>
        <li>API</li>
        <li>KEY</li>
        <li>PASS</li>
        <li>SECRET</li>
        <li>SIGNATURE</li>
        <li>TOKEN</li>
      </ul>
    </p>
    <span class="float-right"><a href="https://owasp.org/www-project-top-ten/2017/A3_2017-Sensitive_Data_Exposure">OWASP</a></span>
  </div>
</div>

{% endblock %}