{% extends 'base.html' %} {% block head %}
<title>Sensitive Data Exposure</title>
{% endblock %} {% block body %}
<br>

<h1>Sensitive Data Exposure</h1>

<hr />
<h2>Insecure Login</h2>
<br>

<form action="/sensitive_data" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

  <label for="post">Username:</label>
  <input class="form-control" type="text" name="username" id="username" placeholder="Enter Username"
    aria-label="Enter Username" />
  <br />
  <label for="post">Password:</label>
  <input class="form-control" type="password" name="password" id="password" placeholder="Enter Password"
    aria-label="Enter Password" />
  <br />
  <input type="submit" class="btn btn-primary" value="Login" />

  <a style="display: inline" class="btn btn-success float-center" href="/sensitive_data/register">Register</a>

</form>
<hr />

{% endblock %}