#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.box {
  margin-top: 2rem;
  border-radius: 10px;
  padding: 2rem;
  background-color: #edeafb;
}

.bp {
  font-family: "Nunito", sans-serif;
  font-size: 1.1em;
  line-height: 1.7em;
  color: black;
}

.lab {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  border-radius: 1rem;
}

.display {
  padding: 20px;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.btn-xxe {
  color: #ffffff;
  background-color: #4723d9;
  border-color: #4723d9;
}

.btn-xxe:hover,
.btn-xxe:focus,
.btn-xxe:active,
.btn-xxe.active,
.open .dropdown-toggle.btn-xxe {
  color: #ffffff;
  background-color: #3516ad;
  border-color: #4723d9;
}

.btn-xxe:active,
.btn-xxe.active,
.open .dropdown-toggle.btn-xxe {
  background-image: none;
}

.btn-xxe.disabled,
.btn-xxe[disabled],
fieldset[disabled] .btn-xxe,
.btn-xxe.disabled:hover,
.btn-xxe[disabled]:hover,
fieldset[disabled] .btn-xxe:hover,
.btn-xxe.disabled:focus,
.btn-xxe[disabled]:focus,
fieldset[disabled] .btn-xxe:focus,
.btn-xxe.disabled:active,
.btn-xxe[disabled]:active,
fieldset[disabled] .btn-xxe:active,
.btn-xxe.disabled.active,
.btn-xxe[disabled].active,
fieldset[disabled] .btn-xxe.active {
  background-color: #4723d9;
  border-color: #4723d9;
}

.btn-xxe .badge {
  color: #4723d9;
  background-color: #ffffff;
}
