{% extends 'base.html' %} {% block head %}
<title>Deserialized Command</title>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
  $(document).ready(function(){
    var output = document.getElementById('output');
    var xhr = new XMLHttpRequest();
      xhr.open('GET', '{{ url_for("stream") }}', true);
      xhr.send();
      setInterval(function() {
      output.textContent = xhr.responseText;
      }, 500);
    });
</script>
{% endblock %} {% block body %}
<br>
<div>
  <h1 style="display: inline">Result:</h1>
</div>
<hr />

<link rel="stylesheet" type="text/css" href="/static/css/deserialized.css">
{% for command in commands %}
<p> <b>Serialized Linux Command:</b> {{ command.serialized }}</p>
<p> <b>Deserialized Linux Command:</b> {{ command.deserialized }} </p>

<a class="btn btn-danger" href="/insecure-deserialization/delete/{{ command.id }}">Delete</a>
<br />
<hr />
{% endfor %} 
<a class="btn btn-dark" href="/insecure-deserialization">Go Back</a>
<!--a class="btn btn-primary" href="http://localhost:5000/insecure-deserialization/log_view" target="_blank">See Log</a> -->
<div style="justify-content: center;">
  <h4 style="text-align: center;"><b>Logging will appear here:</b></h4>
  <div class="br-special"></div>
    <div class="logging_window">
      <pre id="output"></pre>
    </div>
</div>
<br />
<br />
{% endblock %}

</form>