{% extends 'base.html' %} {% block head %}
<title>Insecure Deserialization</title>
{% endblock %} {% block body %}
<br />

<h1>Insecure Deserialization</h1>

<hr />
<h2>Deserializing Linux Kernel Commands</h2>
<br />
<form action="/sensitive_data" method="POST">
  <label for="post">Command:</label>
  <input
    class="form-control"
    type="text"
    name="command"
    id="command"
    placeholder="Enter Linux command to serialize"
    aria-label="Enter Linux command to serialize"
  />
  <br />
  <a
    style="display: inline"
    class="btn btn-primary float-center"
    href="/insecure-deserialization/result"
    >Serialize</a
  > <br />
<br />
  <label for="post">Serialized Command:</label>
  <input
    class="form-control"
    type="text"
    name="serialized"
    id="serialized"
    placeholder="Enter serialized Linux command to deserialize"
    aria-label="Enter serialized Linux command to deserialize"
  />
  <br />

  <a
    style="display: inline"
    class="btn btn-success float-center"
    href="/sensitive_data/register"
    >Deserialize</a
  >
</form>
<hr />

{% endblock %}
