{% extends 'base.html' %} {% block head %}
<title>Insecure Deserialization</title>
{% endblock %} {% block body %}
<br />
<h1>Insecure Deserialization</h1>

<hr />
<h2>Deserializing Linux Kernel Commands</h2>
<br />
<form action="/insecure-deserialization" method="POST">
  <label for="post">Command:</label>
  <input
    class="form-control"
    type="text"
    name="command"
    id="command"
    placeholder="Enter Linux command to serialize"
    aria-label="Enter Linux command to serialize"
  />
  <br />
  <input
    type="submit"
    name="action"
    class="btn btn-primary"
    value="Serialize"
  />
  <br />
  <br />
  <label for="post">Serialized Command:</label>
  <input
    class="form-control"
    type="text"
    name="serialized"
    id="serialized"
    placeholder="Enter serialized Linux command to deserialize"
    aria-label="Enter serialized Linux command to deserialize"
  />
  <br />

  <input
    type="submit"
    name="action"
    class="btn btn-primary"
    value="Deserialize"
  />
</form>
<hr />

{% endblock %}
