{% extends 'base.html' %} {% block head %}
<title>Log</title>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
  $(document).ready(function () {
    var output = document.getElementById('output');
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ url_for("stream") }}', true);
    xhr.send();
    setInterval(function () {
      output.textContent = xhr.responseText;
    }, 500);
  });
</script>
{% endblock %} {% block body %}

<link rel="stylesheet" type="text/css" href="/static/css/deserialized.css">
<br>
<div>
  <h1 style="display: inline">Log:</h1>
</div>
<hr />

<div style="justify-content: center;">
  <h3 style="text-align: center;"><b>Logging will appear here:</b></h3>
  <div class="br-special"></div>
  <div class="logging_window">
    <pre id="output"></pre>
  </div>
</div>
<button onclick="goBack()" class="btn btn-dark button">Go Back</button>
<script>
  function goBack() {
    window.history.back();
  }
</script>
<br />
<br />
<br />
{% endblock %}

</form>