{% extends 'base.html' %} {% block head %}
<title>XXE</title>
{% endblock %} {% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/intro.css">
<br />
<div class="content">
	<br />
	<h3><b>XXE Injection</b></h3>
	<div class="box">
		<h4><b>What is XML External Entity Injection?</b></h4>
		<p class="bp">XML external entity injection (also known as XXE) is a web security vulnerability that allows an
			attacker to
			interfere with an application's processing of XML data. It is a type of attack against an application that
			parses XML input.
			This attack occurs when XML input containing a reference to an external entity is processed by a weakly
			configured XML parser.
			It often allows an attacker to view files on the application server filesystem, and to interact with any
			back-end or external systems that the application itself can access.
			In some situations, an attacker can escalate an XXE attack to compromise the underlying server or other
			back-end infrastructure, by leveraging the XXE vulnerability to perform server-side request forgery (SSRF)
			attacks.
		</p>
		<a class=" btn btn-xxe" type="button" href="/xxe">View Demo</a>
		<br />
		<br />
		<h4><b>Mitigation</b></h4>
		<p class="bp">
			<ul>
				<li>DTD and XML external entity features must be disabled.</li>
				<li>All XML processors and libraries used in the application must be patched and updated always.</li>
				<li>Ensure that the user inputs are validated before being parsed</li>
				<li>Make use of a good xml parsers, which arent vulnerable by default.</li>
			</ul>
		</p>
		<span class="float-right"><a href="https://owasp.org/www-community/vulnerabilities/XML_External_Entity_(XXE)_Processing">OWASP</a></span>
	</div>
</div>


{% endblock %}