{% extends 'base.html' %} {% block head %}
<title>XXE</title>
{% endblock %} {% block body %}
<br />
<h1>XML External Entity Attack</h1>

<hr />
<h2>Local File Inclusion:</h2>
<br />

<?xml version="1.0" encoding="UTF-8"?>

<!--script defer src="{{url_for('static', filename='js/xxe.js')}}"></script> -->

<p><b>Youngjun</b> uploaded a photo.</p>
<p style="text-align: left;">
<img
  src="/static/meme1.jpg"
  width="35%"
  height="35%"
/>
</p>
<form action='/xxe' method='POST'>
  <br />
  <label for="post">Author:</label>
  <input
    class="form-control"
    type="text"
    name="author"
    id="author"
    placeholder="Enter Author Name"
    aria-label="Enter Author Name"
  />
  <br />
  <label for="post">Comment:</label>
  <input
    class="form-control"
    type="text"
    name="comment"
    id="comment"
    placeholder="Add a comment"
    aria-label="Add a comment"
  />
  <br />
  <input type="submit" class="btn btn-primary" value="submit" />
</form>
<hr />

{% for comment in comments %}
<small>{{ comment.date_posted }}</small>
<h5><b>{{ comment.author }}:</b></h5>
<p>{{ comment.comment }}</p>
<a class="btn btn-danger" href="/xxe/delete/{{ comment.id }}">Delete</a>
<hr />
{% endfor %}

<!--script defer src="{{url_for('static', filename='js/xxe.js')}}"></script> -->

{% endblock %}
