{% extends 'base.html' %} {% block head %}
<title>CSRF</title>
{% endblock %} {% block body %}

<br>

<div>
  <h1 style="display: inline">Cross Site Request Forgery</h1>
  <form action="/csrf/download" method="POST" style="display: inline">
    <input type="submit" class="btn btn-warning float-right" value="Generate CSRF &amp; Download">
  </form> 
</div>

<hr>

<div class="jumbotron">

  <h2>Funny Post</h2>
  <p>This intentionally vulnerable site was created for pre-development research at Fasoo.
    The skeleton repository for this site can be found <a
      href="https://github.com/SP-Development-Team-1/PyFlaGoat">here</a>.</p>
  <p style="text-align: center"><img src="/static/img/csrf/bigO.jpg" width="50%" height="50%">
  </p>
  <p>Go visit <a href="https://en.fasoo.com">Fasoo</a>, Korea's leading data security firm.</p>
  <hr>
  <h3>Comments</h3><br>
  <div style="margin-left: 3%">
    {% for comment in comments %}
      <small>{{ comment.date_posted }}</small>
      <h5>
        <img src="/static/img/broken_access/blank_profile.png" class="rounded" width=5%>
        <b>{{ comment.author }}</b>
        <a class="btn btn-danger float-right" href="/csrf/delete/{{ comment.id }}">Delete</a>
      </h5>
      <p>{{ comment.comment }}</p>
      <hr>
    {% endfor %}
    <div name="comment_example_2">
      <small>{{ example_date }}</small>
      <h5>
        <img src="/static/img/broken_access/blank_profile.png" class="rounded" width=5%>
        <b>Hater9191</b>
      </h5>
      <p>What an insensitive post. I'm triggered. </p>
      <hr>
    </div>
    <div name="comment_example_1">
      <small>{{ example_date }}</small>
      <h5>
        <img src="/static/img/broken_access/blank_profile.png" class="rounded" width=5%>
        <b>Fanboy0227</b>
      </h5>
      <p>Awesome blog! Do you have a donation box?</p>
      <hr>
    </div>
  </div>
</div>
<hr>

<h3>Submit a comment:</h3>
  <form action="/csrf" method="POST">
    <textarea class="form-control" placeholder="Compose a comment ..." name="comment" id="comment" rows="3"
      aria-label="Enter Content"></textarea>
    <br>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% if g.user %}
      <input type="submit" class="btn btn-primary" value="Submit">
    {% else %}
      <p><input type="submit" class="btn btn-primary" value="Submit" disabled> &nbsp;&nbsp;### <a href="/login">Log in</a> to post a comment and enable request forgery.</p>
    {% endif %}
  </form>   
<br><br><br>

{% endblock %}