{% extends 'base.html' %} {% block head %}
<title>Broken Access</title>
{% endblock %} {% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/intro.css" />
<br />
<div class="content">
    <br />
    <h3><b>SQL Injection</b></h3>
    <div class="box">
        <h4><b>What is SQL Injection</b></h4>
        <p class="bp"> A SQL injection attack consists of insertion or “injection” of a SQL query via the input data
            from the client to the application. A successful SQL injection exploit can read sensitive data from the
            database, modify database data (Insert/Update/Delete), execute administration operations on the database
            (such as shutdown the DBMS), recover the content of a given file present on the DBMS file system and in some
            cases issue commands to the operating system. SQL injection attacks are a type of injection attack, in which
            SQL commands are injected into data-plane input in order to affect the execution of predefined SQL commands.
        </p>
        <a class="btn btn-xxe" type="button" href="/sql_injection">View Demo</a>
        <br />
        <br />
        <h4><b>Mitigation</b></h4>
        <p class="bp">
            <ul>
                <li> Use of Prepared Statements (with Parameterized Queries)</li>
                <li> Use of Stored Procedures</li>
                <li> Allow-list Input Validation</li>
                <li> Escaping All User Supplied Input.</li>
            </ul>
        </p>
        <span class="float-right"><a href="https://owasp.org/www-community/attacks/SQL_Injection">OWASP</a></span>
    </div>
</div>

{% endblock %}