{% extends 'base.html' %} {% block head %}
<title>Client Side</title>
{% endblock %} {% block body %}
<br />
<h1>Client Side</h1>

<hr />
<h2>Client-side Filtering:</h2>
<br />

<form
  class="form-inline my-2 my-md-0 float-right"
  action="/client/client-filtering"
  method="POST"
>
  <input
    class="form-control"
    type="text"
    name="firstName"
    id="firstName"
    placeholder="Input First Name"
    aria-label="filter"
  />
</form>

<br />
<br />
<br />
<br />
<br />
<br />

<center>
  <a
    style="display: inline"
    class="btn btn-success float-center"
    href="/client/client-filtering/new"
    >New Profile</a
  >
</center>

{% for post in posts %}
<h2>{{ post.firstName }} {{ post.lastName }}</h2>

{% if post.user_id %}
<small> User ID: {{ post.user_id }} </small>
{% else %}
<small> User ID: {{ NULL }} </small>
{% endif %}

<br />
<br />

<p style="white-space: pre-wrap">{{ post.content }}</p>
<a class="btn btn-danger" href="/sql_injection/delete/{{ post.id }}">Delete</a>
<a class="btn btn-primary" href="/sql_injection/edit/{{ post.id }}">Edit</a>
<br />
<hr />
{% endfor %} {% endblock %}
