{% extends 'base.html' %} {% block head %}
<title>Client Side</title>
{% endblock %} {% block body %}
<br />
<div>
  <h1 style="display: inline">Filtered Client Information:</h1>
</div>
<hr />

{% for post in posts %}
<h2>{{ post.firstName }} {{ post.lastName }}</h2>
<p></p>
{% if post.firstName %}
<p><b>User ID:</b> {{ post.user_id }}</p>
<p><b>SSN:</b> {{ post.SSN }}</p>
{% else %}
<p>User ID: {{ NULL }}</p>
{% endif %}

<p style="white-space: pre-wrap"><b>Salary:</b> ${{ post.salary }}</p>
<a class="btn btn-danger" href="/client/client-filtering/delete/{{post.user_id}}">Delete</a>
<a class="btn btn-dark" href="/client/client-filtering">Go Back</a>
<br />
<hr />
{% endfor %} {% endblock %}