{% extends 'base.html' %} {% block head %}
<title>Client Side</title>
{% endblock %} {% block body %}
<h1>Client Side</h1>

<hr />
<h2>Bypass front-end restrictions:</h2>
<br />

<form action="/client/front-end" method="POST">
  <br />
  <label for="cars"><b>Select a company:</b></label>
  <br />
  <select name="company" id="company">
    <option value="Facebook">Facebook</option>
    <option value="Google">Google</option>
    <option value="Airbnb">Airbnb</option>
    <option value="Amazon">Amazon</option>
    <option value="Lyft">Lyft</option>
    <option value="Uber">Uber</option>
    <option value="Citadel">Citadel</option>
    <option value="Two Sigma">Two Sigma</option>
  </select>
  <p><br /><b>Select your profession:</b></p>

  <div>
    <input type="radio" id="huey" name="drone" value="huey" checked />
    <label for="huey">Software Engineer</label>
  </div>

  <div>
    <input type="radio" id="dewey" name="drone" value="dewey" />
    <label for="dewey">Data Scientist</label>
  </div>

  <div>
    <input type="radio" id="louie" name="drone" value="louie" />
    <label for="louie">Product Owner</label>
  </div>
  <p><br /><b>Choose your role:</b></p>

  <div>
    <input type="checkbox" id="check" name="check" checked />
    <label for="scales">Frontend</label>
  </div>

  <div>
    <input type="checkbox" id="check" name="check" />
    <label for="horns">Backend</label>
  </div>
<br />
  <label for="post"><b>Input restricted to max 5 characters:</b></label>
  <input
    class="form-control"
    type="text"
    maxlength="5"
    name="comment"
    id="comment"
    placeholder="Add a comment"
    aria-label="Add a comment"
  />
  <br />
  <br />
  <label for="post"><b>Readonly input field</b></label>
  <input
    class="form-control"
    type="text"
    maxlength="5"
    name="readonly"
    id="readonly"
    value="FAANG"
    Readonly
  />
  <br />
  <input type="submit" class="btn btn-primary" value="Submit" />
  <br />
  <br />
  <br />
  <br />
  {% endblock %}
</form>
